* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    justify-content: center;
    background-color: #181818;
}

.span {
  display: flex;
}


.container{  padding-top: 20px;
    padding-bottom: 20px;}
  
  
  .content h2{ font-size:19px;}
  
  .box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      color: #f3f0f0;
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  }

/* -----------------------------------------------------------------------------HEADER-LIST */
.maine_nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.maine_nav ul { display: flex; }

.maine_nav li { padding: 1rem 1.5rem; }

.maine_nav a {
        color: #fff;
        padding-bottom: 0.3rem;
        border-bottom: 2px transparent solid;
        transition: border-color 1s;
}

.maine_nav a .logo_title {
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    padding: 5px 0 0 0;
    color: #fff;
    text-transform: none;
}

i {
    color: white;
    font-size: 2rem;
}

/* ----------------------------------------------------------ANIMATED CIRCLES ------------------------------------------------------ */
.main {
    padding: 3.3cm 6cm 3cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
/* -----------------------------------------------------------section du parrain */
.loader {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 100px 0px #59ff67;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-image: conic-gradient(#2ed2a5 20deg,transparent 120deg);
    animation: rotat 4.5s linear infinite;
}
.loader::after {
    content: "Parrain";
    position: absolute;
    width: 95%;
    height: 95%;
    background: #181818;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ed2a5;
    letter-spacing: 3px;
    font-size: 1.125rem;
    box-shadow: inset 20px 20px 20px #0000008c;
}

/* ------------------------------------------------------section du fiolle */
.loader-2 {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 100px 0px #e559ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-2::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-image: conic-gradient(#2ed2a5 20deg,transparent 120deg);
    animation: rotate 4.5s linear infinite;
}

.loader-2::after{
    content: 'fiole';
    position: absolute;
    width: 95%;
    height: 95%;
    background: #181818;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ed2a5;
    letter-spacing: 3px;
    font-size: 1.125rem;
    box-shadow: inset 20px 20px 20px #0000008c;
}

img
{
    z-index: 1;
    overflow: hidden;
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes rotat {
    0%{
        transform: rotate(0deg); 
    }
    100%{
        transform: rotate(-360deg);
    }
}

/* ----------------------------------------------BUtton */
/* 
button {
    width: 15%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.123);
    box-shadow: 6px 8px 20px 0px rgba(0, 0, 0 / 22%);
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    color: royalblue;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    position: relative;
} */


/* -----------------------------------------------------Button */
button {
    width: 15%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background: transparent;
    box-shadow: 6px 8px 20px 0px rgba(0, 0, 0 / 22%);
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    color: royalblue;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    position: relative;
}
button:hover{
    color: rgb(170, 172, 247);
}
button:hover::before{
 left: 0;
}
button::before{
    content: "";
    position: absolute;
    left: -150%;
    top: 0;
    width: 120%;
    height: 120%;
    background: rgb(111, 228, 236);
    transition: all ease-in-out 1s;
    filter: blur(20px);
    z-index: -1;
}

/* ----------------------ZEBS ANIMATION TEMPLATE--------------------------- */

.centerBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryWrapper{
  background: url("http://ohlookawebsite.com/bathroomtestfull.jpg") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.categoryWrapper:after{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */
background: #a29ca9; /* Old browsers */
background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #a29ca9 0%,#95909b 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #a29ca9 0%,#95909b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  content: '';
  opacity: 0;
    -webkit-transition: opacity 0.9s ease 0s; 
}

.categoryWrapper:hover:after{
  opacity: 0.4;
}

.categoryWrapper h1{
  color:white;
  font-size: 50px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s; 
  position: relative;
  z-index: 10;
}

.categoryWrapper:hover h1{
  transform: translateY(-10px);
}

.categoryWrapper button{
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color:white;
  width: 250px;
  height:50px;
  font-size: 20px;
  padding: 0;
  margin: 0;
  outline: none;
  z-index: 10;
}

.categoryWrapper button span{
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper button > span:after{
  content:'';
  position: absolute;
  top:0;
  left: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid white;
  border-left: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before{
  content:'';
  position: absolute;
  top:0;
  right: 50%;
  width: 20px;
  height: 0;
  
  border: 1px solid white;
  border-right: none;
  border-bottom: none;
  
      transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before{
  content:'';
  position: absolute;
  bottom:0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:before{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after{
  content:'';
  position: absolute;
  bottom:0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

.categoryWrapper:hover button > span > span:after{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span{
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
}

.categoryWrapper:hover button > span > span > span{
  color:white;
}

.categoryWrapper button > span > span > span:after{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  color:#1f2e4d;
  content: attr(data-attr-span);
  width: 0%;
  height: 100%;
  background:white;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after{
  width: 100%;
}
